# LLM API Keys
OPENAI_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
GOOGLE_API_KEY=your-api-key

# Stock Market API Key
FINANCIAL_DATASETS_API_KEY=your-api-key

# Web Search API Key
TAVILY_API_KEY=your-api-key

# LangSmith 
LANGSMITH_API_KEY=your-api-key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=dexter
LANGSMITH_TRACING=true